<div class="container">

  <h1>Track Your Diet</h1>

  <h4>Eat These Foods</h4>

  <ul class="collection">
    {{#each foods}}
      {{#unless this.devoured}}
        <li class="collection-item">
          <h5>{{this.food_name}}</h5>
          <form action="/{{this.id}}?_method=PUT" method="POST">
            <input type="hidden" name="devoured" value="true">
            <button type="submit">Just Eat It!</button>
          </form>
        </li>
      {{/unless}}
    {{/each}}
  </ul>
  <hr />

  <h4>What You've Eaten</h4>

  <ul class="collection">
    {{#each foods}}
      {{#if this.devoured}}
        <li class="collection-item">
          <h5>{{this.food_name}}</h5>
        </li>
      {{/if}}
    {{/each}}
  </ul>
  <hr />
  <h4>Add Food</h4>
  <form class="create-update-form" action="/" method="POST">
    <div class="form-group">
      <label for="burg">Food Name:</label>
      <input type="text" id="burg" name="foodName">
    </div>
    <div class="form-group">
      <input type="hidden" name="devoured" value=0>
    </div>
    <button type="submit">Add Food</button>
  </form>
</div>
